@{
    Layout = "~/Pages/Layout/_BaseLayout.cshtml";
}

@section SignSettings{
        <a class="btn btn-primary sign_in" href="~/Pages/SignIn.cshtml">Войти</a>
}
    <h1>Добро пожаловать в Animal Connect</h1>
